/* Laranja Claro   - #F27329
Laranja Menos Claro- #F2561D
Laranja Escuro     - #D93814
Preto              - #0d0d0d
Código removido da nav - bg-body-tertiary
*/


body {
    background-color:#0d0d0d;
    /* background-color:#ffffff; */
    color: white;
}



/* Nav */
nav > div {
    background-color: #F27329;
}

.btnnav > a {
    color: white;

}

.btnnav > a:hover {
    text-decoration: underline;
    transition: 1s;
}

nav {
    margin-top: -8px;
}
/* Nav */


/* Contato */

.buttoncont {
    display: flex;
    justify-content: center;
    

}

.maincont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

.h1cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    
}

.modalcont {
    color: #F27329;
}

.imgcont {
    margin-left: auto;
    
}

.imgboxcont {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;

    
}

img {
    border-radius: 10px;
    outline: 3px solid #F27329;

}

/* Contato */

